@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  box-sizing: border-box;
}
body {
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400, 700;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
p {
  opacity: 0.6;
  font-weight: 400;
}
img {
  max-width: 100%;
}
.btn {
  border-radius: 50px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 60px;
}
.btn-secondary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(119, 119, 119);
}
.btn-primary {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}
.btn-primary:hover {
  background-color: hsl(322, 100%, 77%);
  color: beige;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 1250px;
  max-width: 100%;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
  align-items: center;
}
.flex > div,
.flex > ul {
  flex: 1;
}
.align-start {
  align-items: flex-start;
}
header {
  background-image: url("./images/bg-hero-desktop.svg");
  background-size: cover;
  background-position: center center;
  background-color: hsl(193, 100%, 96%);
  padding: 40px 0;
}
.bland {
  margin-left: 10%;
}
nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.header-img {
  margin-left: 7%;
  width: 80%;
}
.please{
    margin-left: 20%;
}
.box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  padding: 60px;
}
.small-box {
  display: inline-block;
  position: relative;
  margin-bottom: -50%;
  z-index: 1;
}
.box img {
  width: 80%;
}
footer {
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 180px 0 60px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  margin-bottom: 20px;
}
footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  text-decoration: none;
}
footer .circle:hover {
  color: hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
}
footer p {
  text-align: right;
}
ul.bulletno {
  list-style-type: none;
  padding: 0;
}
li.location {
  background: url("images/icon-location.svg") no-repeat left top;
  padding-left: 30px;
}
li.email {
  background: url("./images/icon-email.svg") no-repeat left;
  padding-left: 30px;
}
li.number {
  background: url("./images/icon-phone.svg") no-repeat left;
  padding-left: 30px;
}
